access_control:
  default_policy: one_factor

authentication_backend:
  file:
    path: /etc/authelia/users_database.yaml

log:
  file_path: null
  format: json
  keep_stdout: false
  level: info

notifier:
  filesystem:
    filename: /tmp/notifications.txt

server:
  address: tcp://:9091/

storage:
  local:
    path: '/var/lib/authelia-main/db.sqlite3'

telemetry:
  metrics:
    address: tcp://127.0.0.1:9959
    enabled: false

theme: light

totp:
  issuer: 'authelia.com'

session:

  cookies:
    - name: 'authelia_session'
      domain: 'authelia.home'  # Should match whatever your root protected domain is
      authelia_url: 'https://authelia.home'
      expiration: '1 hour'  # 1 hour
      inactivity: '30 minutes'  # 5 minutes

...
